/* Styling for the page heading in the support section */
#exchange-h1 {
    color: #f2fffc;
    padding: 3% 15%;
    margin: auto;
    font-size: 2em;
}


/* Styling for the exchange section */
#exchange-section {
    margin: auto;
    color: #fafafa;
    width: 90%;
}


/* Styling for the cryptocurrency table */
#crypto-table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
}


/* Styling for headers and data cells in the currency exchange table */
.crypto-header, .crypto-data {
    border: 2px solid rgba(250, 250, 250, 0.25);
    padding: 2em;
    text-align: center;
    font-size: 1.5em;
    border-right: none; /* Remove right border */
    border-left: none;
}

.crypto-header {
    background-color: #171d25;
    border: none;
}

.crypto-data {
    width: 10%;
}

.first-data {
    border-top: none;
}

.last-data {
    border-bottom: none;
}


/* Styling for the buy button */
.buy {
    font-size: 20px;
    background-color: #171d25;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: none;
    color: #fafafa;
    padding: 10px 20px;
    cursor: pointer;
}

.buy:hover {
    box-shadow: 0 6px 20px 0 #67c1f5;
}



/* Media query for responsiveness on mobile phones */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .crypto-header, .crypto-data {
        padding: 0.7em;
    }

    #exchange-h1 {
        font-size: 1.5em;
    }
    
    #crypto-table {
        width: 90%;
    }

    .crypto-header {
        font-size: 1.2em;
    }
}

/* Media query for responsiveness on tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #crypto-table {
        width: 90%;
    }

    .crypto-header {
        font-size: 1.2em;
    }
}

/* Media query for responsiveness on desktop computers */
@media only screen and (min-width: 769px) and (max-width: 1920px) {
    #crypto-table {
        width: 90%;
    }
}