/* Bordered form */
#login-section {
    padding: 6% 25%;
    width: 50%;
}

#login-h1 {
    color: white;
    font-weight: 900;
}

form {
    background-color: #181a21;
    padding: 2%;
    border-radius: 10px;
}

#uname-label {
    color: #1999e8;
}

#pwdnremember-label {
    color: #adaeb0;
}

.login-input {
    background-color: #32353c;
    color: white;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 20px;
}
  
/* Set a style for all buttons */
#submit-btn, #forget-pwd {
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #2b75ff 0%, #2b75ff 0, #07beff 50%, #07beff 100%);
    color: white;
    cursor: pointer;
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
    padding: 15px;
    margin: 8px 40px;
    width: 50%;
    text-decoration: none;
    text-align: center;
    font-size:large;
}

  
/* Add a hover effect for buttons */
button:hover, #submit-btn:hover, #forget-pwd:hover {
    background-position: 100% 0;
}

#btn-container {
    display: flex;
    justify-content: space-around;
}


/* Responsive styles */
@media only screen and (max-width: 480px) {
    #login-section {
        padding: 5% 12%;
        width: 72%;
    }

    #form-container {
        margin: 5px;
    }

    #uname-label {
        font-size: 10px;
    }
    
    #pwdnremember-label {
        font-size: 10px;
    }

    #submit-btn, #forget-pwd {
        border-radius: 10px;
        padding: 10px 8px;
        margin: 8px 10px;
        width: 50%;
        font-size: 13px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
    #login-section {
        padding: 5% 12%;
        width: 72%;
    }

    #form-container {
        margin: 5px;
    }

    #uname-label {
        font-size: 13px;
    }
    
    #pwdnremember-label {
        font-size: 13px;
    }

    #submit-btn, #forget-pwd {
        border-radius: 10px;
        padding: 10px 8px;
        margin: 8px 10px;
        width: 50%;
        font-size: medium;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1028px) {
    #login-section {
        padding: 5% 12%;
        width: 72%;
    }

    #form-container {
        margin: 5px;
    }

    #uname-label {
        font-size: 13px;
    }
    
    #pwdnremember-label {
        font-size: 13px;
    }

    #submit-btn, #forget-pwd {
        border-radius: 10px;
        padding: 13px 8px;
        margin: 8px 10px;
        width: 50%;
        font-size: medium;
    }
}

@media only screen and (min-width: 1029px) {
    #login-section {
        padding: 5% 12%;
        width: 72%;
    }

    #form-container {
        margin: 5px;
    }

    #uname-label {
        font-size: large;
    }
    
    #pwdnremember-label {
        font-size: large;
    }

    #submit-btn, #forget-pwd {
        border-radius: 10px;
        padding: 13px 8px;
        margin: 8px 10px;
        width: 50%;
    }
}