/* Styling for the body section */
#login-section {
    padding: 6% 25%;
    width: 50%;
}


/* Styling for the headings of the page */
#login-h1 {
    color: white;
    font-weight: 900;
}


/* Styling for login and register form */
#loginnresgiter-form {
    background-color: #181a21;
    padding: 1em;
    border-radius: 10px;
}

#uname-label {
    color: #1999e8;
}

.pwd-and-remember-label {
    color: #adaeb0;
}

.login-input {
    background-color: #32353c;
    color: white;
    width: 100%;
    padding: 1em 1em;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1em;
}
  
/* Styling for the submit and forgot password buttons */
#submit-btn, .login-and-forget-pwd {
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #2b75ff 0%, #2b75ff 0, #07beff 50%, #07beff 100%);
    color: white;
    cursor: pointer;
    background-size: 200% 100%;
    transition: background-position 0.3s ease;
    padding: 15px;
    margin: 2em 1em;
    width: 50%;
    text-decoration: none;
    text-align: center;
    font-size:large;
}

#submit-btn:hover, .login-and-forget-pwd:hover {
    background-position: 100% 0;
}

#btn-container {
    display: flex;
    justify-content: space-around;
}

#register-or-login-link a {
    color: #adaeb0;
    text-decoration: none;
}

#register-or-login-link a:hover {
    color: white;
}



/* Media query for responsiveness on mobile phones */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #login-section {
        padding: 5% 12%;
        width: 72%;
    }

    #login-h1 {
        font-size: 2em;
    }

    #form-container {
        margin: 0;
    }

    #uname-label {
        font-size: 1em;
    }
    
    .pwd-and-remember-label {
        font-size: 1em;
    }

    #submit-btn, #forget-pwd {
        border-radius: 10px;
        padding: 10px 8px;
        margin: 8px 10px;
        width: 50%;
        font-size: 13px;
    }

    #submit-btn, .login-and-forget-pwd {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0.5em;
        font-size: 1em;
    }
}

/* Media query for responsiveness on tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #login-section {
        padding: 5% 12%;
        width: 72%;
    }

    #login-h1 {
        font-size: 2em;
    }

    #form-container {
        margin: 1em 0;
    }

    #uname-label, .pwd-and-remember-label, #register-or-login-link {
        font-size: 1em;
    }

    #submit-btn, .login-and-forget-pwd {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        margin: 1em 0.5em;
    }
}

/* Media query for responsiveness on desktop computers */
@media only screen and (min-width: 769px) and (max-width: 1920px) {
    #submit-btn, .login-and-forget-pwd {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}