.marketTabContainer {
  margin: 2em 20%;
}

.marketTab {
  background: #171a21;
}

.marketBtn {
  background: #171a21;
  cursor: pointer;
  border: none;
  padding: 0.2em 1rem;
}

.marketBtn span {
  line-height: 39px;
  padding: 0 4px;
  margin: 0px;
  min-width: 195px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: white;
}

.marketBtn:hover {
  background-color: greenyellow;
}

.container {
  background-color: #212c3d;
  margin: 0.8rem 0;
  text-decoration: none;
  color: lightgrey;
}

#myActiveListing {
  padding: 1em;
}

.myBuyOrders {
}
.myBuyOrdersContent {
  background-color: grey;
  padding: 1px 1px;
}

.myHistory {
}

.historyHeader {
  background-color: gray;
  height: 41px;
  font-size: small;
}
.historyCate {
  display: inline-block;
  list-style-type: none;
  padding: 10px 30px;
}

.case_display {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.case_display:hover {
  box-shadow: 0 6px 20px 0 #67c1f5;
  border-radius: 10px;
  /* background-color: #fff; */
}
#caseData {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  font-weight: bolder;
  gap: 2em;
  padding: 0;
  margin: 0 2rem;
}

main {
  margin-bottom: 50px;
}