.marketTabContainer {
  margin: 2em 20%;
}

.marketTab {
  background-color: #212c3d;
  padding: 1em;
}

.marketBtn {
  background: #171a21;
  cursor: pointer;
  border: none;
  padding: 0.2em 1rem;
}

.marketBtn span {
  line-height: 39px;
  padding: 0 4px;
  margin: 0px;
  min-width: 195px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: white;
}

.marketBtn:hover {
  background-color: greenyellow;
}

.container {
  /* background-color: #212c3d; */
  margin: 0.8rem 0;
  text-decoration: none;
  color: lightgrey;
}

.historyHeader {
  background-color: gray;
  height: 41px;
  font-size: small;
}
.historyCate {
  display: inline-block;
  list-style-type: none;
  padding: 10px 30px;
}

.case_display {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.case_display:hover {
  box-shadow: 0 6px 20px 0 #67c1f5;
  border-radius: 10px;
  /* background-color: #fff; */
}
#caseData {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  font-weight: bolder;
  gap: 2em;
  padding: 0;
  margin: 0 2rem;
}
.subBanner{
  background-color:#46602a;
  padding: 1rem;
  color: white;
  
}
.subBannerContent{
  display: flex;
  color: white;
  margin: 2em 20%;
}
.userInfo{
  background-color: #171a21;
  margin-left: 2rem;
  padding: 0 1rem;
}
main {
  margin-bottom: 50px;
}
.clear{
  clear: both;
}
*{
  
  margin: 0;
  color: rgba(255,255,255,0.7);
}

hr{
  border: 0.5px solid black;
}
.subBanner{
  height: 100px;

}

.case-container{
  padding: 15px;
  margin: 15px auto;
  background-color: rgba(0, 0 , 0, 0.4);
  position: relative;
  padding-bottom: 90px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}
.nd-container{
  position: relative;
  height: 422px;
  padding: 11px;
  width: 100%;
}
.case-text{
  height: 74px;

}
.case-img{
  position: absolute;
  left: 0;
  width: 50%;
}
.case-inf{
  position: absolute;
  right: 0;
  width: 50%;
}
.case-inf h2{
  color: white;
  margin-bottom: 9px;
}
.container-series{
  color: cyan;
  margin-bottom: 3px;
}
.sell-buy-container{
  position: relative;
  height: 338px;
  padding: 15px 0;
  margin-top: 30px;
  width: 100%;
}
.buy , .sell{
position: absolute;
border: 1px solid black; 
width: 40%;
padding: 15px 0;
text-align: center;
}
.buy{
  left: 5%;
}
.sell{
  right: 5%;
}

table{
  margin: 12px auto;
  text-align: center;
}
td, th{
  width: 100px;
}
tr:nth-child(even){
  background-color: rgba(0, 0, 0, 0.3);
}
button{
background-image: url(/src/assets/images/market_banner.jpg);
width: 60%;
height: 54px;
text-align: center;
margin: 9px 0;
color: rgba(255, 255, 255, 0.5);
font-size: 26px;
padding: 0 15px;
margin-top: 12px;
border:none;
}
button:hover{
color: white;
}
.graph{
  width:100%;
}
h1 {
  font-size: 2vw;
}

p, li {
 font-size:.9vw ;
}
img{
  width: 100%;
}
@media only screen and  (min-width: 1200px) {
  .case-container{
    width: 900px;
  }
  p , li{
    font-size: 14px;
  }
  
}
@media only screen and  (min-width: 500px) and (max-width: 1200px)  {
  .case-container{
    width: 700px;
  }
p , li{
  font-size:1.3vw ;
}

}

@media only screen and  (max-width: 500px) {
  .case-container{
    width: 500px;
  }
  p , li{
    font-size: 2.5vw;
  }
  
  
}
