
*{
text-decoration: none;
}

.marketTabContainer{
    position: relative;
    height: 30px;
    padding: 9px 15px 0 0;
    margin-top: 30px;
    left: 25%;
    width: 50%;
}
.marketTab{
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    bottom: 0;
    font-size: 5px;
    left: 0;
    right: 0;
}
.marketTab button{
    background-color: black;
}
#myList{
    display: inline-block;
    position: relative;
}
#myList span{
    display: block;
    line-height: 39px;
    padding: 0 4px;
    margin: 0px;
    min-width: 195px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: white;
  
}
#myHistory{
    display: inline-block;
    position: relative;
}
#myHistory span{
    display: block;
    line-height: 39px;
    padding: 0 4px;
    margin: 0px;
    min-width: 195px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
   color: white;
}
#myList:hover {
    background-color: greenyellow;
}
#myHistory:hover{
    background-color: greenyellow;
}
.myListListContainer{
    position: relative;
    
    padding: 9px 15px 0 0;
    margin-top: 30px;
    left: 25%;
    width: 50%;
}
.myActiveListList{
    
}
.mySellListings{

}
.MySellListingsContent{
background-color:  grey;
padding: 1px 1px;
}
.myBuyOrders{

}
.myBuyOrdersContent{
    background-color:  grey;
    padding: 1px 1px;
}
.myHistory{
    
}
.historyHeader{
background-color: gray;
height: 41px;
font-size: small;
}
.historyCate{
    display: inline-block;
    list-style-type: none;
    padding: 10px 30px;
}